{{ if ne .osId "windows" -}}
[".config/tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm.git"
  refreshPeriod = "168h"
{{- else -}}
["AppData/Local/rio/themes/catppuccin"]
  type = "git-repo"
  url = "https://github.com/catppuccin/rio.git"
  refreshPeriod = "168h"
{{- end }}
