# Build output that may exist in the source directory but is never deployed
.glzr/zebar/wiztral-zb/glazewm-bar/node_modules/
.glzr/zebar/wiztral-zb/glazewm-bar/*.tsbuildinfo

{{ if ne .osId "windows" }}
.chezmoiscripts/windows/**
Documents/
.glzr/
quick-cmds/
{{ else }}
.chezmoiscripts/linux_darwin/**
.config/tmux/
.zshrc
{{ end }}
