Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"
$env:PATH = "$env:PATH;$HOME\scoop\shims"

scoop install
{{- range .packages.scoops }} `
{{ . -}}
{{ end }}

{{- range .packages.wingets }}
winget install --id {{ . }} --silent --accept-source-agreements --accept-package-agreements
{{- end }}
