Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{ if not (lookPath "scoop") -}}
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
{{- end }}

{{ if not (lookPath "git") -}}
scoop install git
if ($LASTEXITCODE -ne 0) { throw "scoop install git failed with exit code $LASTEXITCODE" }
{{- end }}

$existingBuckets = (scoop bucket list | Select-Object -ExpandProperty Name)
foreach ($bucket in @("extras", "java", "nerd-fonts")) {
    if ($existingBuckets -notcontains $bucket) {
        scoop bucket add $bucket
        if ($LASTEXITCODE -ne 0) { throw "scoop bucket add $bucket failed with exit code $LASTEXITCODE" }
    }
}
