#!/bin/bash
set -euo pipefail

if [ -x /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -x /usr/local/bin/brew ]; then
  eval "$(/usr/local/bin/brew shellenv)"
elif [ -x /home/linuxbrew/.linuxbrew/bin/brew ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.brews_linux -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
